<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Post on LinkedIn</title>
    <h1>Ready to post a Message on LinkedIn via a Symfony app deplyed on AWS Lambda ?</h1>
    <form action="/process_message" method="POST">
        <textarea id="linkedin_content" name="linkedin_content" rows="4" cols="50">
  This message will be sent to linkedin via an Symfony API deployed on AWS Lambda
  </textarea>
        <br><br>
        <input type="submit" value="Submit">
    </form>
</head>
<body>

</body>
</html>
